<div class="corpo">

  <h1 class="mb-4">Cadastro de IMC</h1>

  <div class="row">

    <div class="col-2">
      <div class="form-group">
        <label for="peso">Peso(kg)</label>
        <input type="text" class="form-control" [(ngModel)]="peso" placeholder="Digite seu peso" (keypress)='calcularImc();'>
      </div>
    </div>

    <div class="col-2">
      <div class="form-group">
        <label for="altura">Altura(ex: 1.67)</label>
        <input type="text" class="form-control" [(ngModel)]="altura" placeholder="Digite sua altura" (keypress)='calcularImc();'>
      </div>
    </div>

    <div class="col-3">
      <p>Seu IMC é: {{ imc }}</p>
    </div>

  </div>
  
</div>